/* * * * * * * * * *
* ADMIN-HEADER
* * * * * * * * * */

.admin-header {
    width: 95%;
    margin-bottom: 2px;
    border-bottom: 1px solid #BFBCB3;
}

.admin-header .admin-logo {
    width: 40%;
    float: left;
    margin-top: 0;
    margin-bottom: 0px;
    font-size: 18px;
    line-height: 1;
    font-weight: 300;
    color: #3E606F;
}

.admin-header .user-info {
    width: 15%;
    float: right;
    margin-top: 4%;
}

.admin-header .logout-btn {
    color: #FF0000;
    text-decoration: none;
}
.admin-header .logout-btn:hover {
    color: #6E0606;
}
.admin-header:after {
    content: "";
    display: block;
    clear: both;
}


.content .menu {
    width: 15%;
    float: left;
    margin: 0 5px;
}

/* * * * * * * * * *
* DASHBOARD
* * * * * * * * * */

.dashboard {
    width: 95%;
    margin: 5px auto 50px;
    border: 1px solid #BFBCB3;
    padding: 10px 0px 50px;

}

.dashboard:after {
    content: "";
    display: block;
    clear: both;
}

.dashboard h1 {
    text-align: center;
    margin: 25px;
    font-size: 40px;
    font-weight: 600;
}
.dashboard .stats{
    margin-top: 0;
    width: 100%;
}
.dashboard .stats a {
    display: inline-block;
    padding: 2%;
    margin:auto 1.7%;
    width: 20%;
    text-align: center;
    border-radius: 3px;
    border: 1px solid #8f877a;
    color: #E1E1E1;
    background-color: #3E606F;

}


.dashboard .stats a:hover {
    cursor: pointer;
    background-color:#E1E1E1;
    color:  #3E606F;
}

.dashboard .buttons {
    margin-left: 15px;
    width: 50%;
}

.dashboard .buttons button {
    display: inline-block;
}




/* Menu card */
.card {
    background-color: inherit;
    border: 2px solid #BFBCB3;
    border-radius: 3px 3px 0px 0px;
    margin-top: 8%;
}

.menu .card .card-header {
    width: 100%;
    margin: 0;
    text-align: center;
    border-radius: 3px 3px 0px 0px;
    background: #3E606F;
    color:#C6C3C3;
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 400;
}
.menu .card .card-content a {
    display: block;
    box-sizing: border-box;
    padding: 2% 10px;
    border-bottom: 1px solid #C6C3C3;
    color: #585353;
}

.menu .card .card-content a:hover {
    padding-left: 20px;
    background: #F9F9F9;
    transition: 0.1s;
    color:#AB8E40;
}

/* Actions div (at the middle) */

.content .action {
    width: 32%;
    float: left;
    text-align: center;
    border: 2px solid #BFBCB3;
    margin: 1.2% 2%;
    
}

.content .create-product-div{
    width:30%;
}
.action p{
    text-transform: uppercase;
    color: #292621;
    font-size: 18px;
    margin: 1% 0%;
    border-bottom:  1px solid #afadad;
}
.action form {
    width: 90%;
    margin-left: 4%;

}
.action form div{
    display:block;
    overflow: hidden;
    margin: 0;

}

.action form div label{
    float: left;
    margin: 2% 5% 0 15%;
}
.action form div input, .action form div select{
    width: 70%;
    float: left;
    margin: 2% 5% 8% 15%;
    border:  none;
    border-bottom:  1px solid #afadad;
    height: 4%;
    background-color: inherit;
}

.action .create-edit-product div input {
    margin: 2% 5% 2% 15%;
}
.action .create-edit-product#edit_product{
    display: none;
}
.action form div select{
    width: 70%;
    float: left;
    margin: 2% 5% 2% 15%;
    background-color: inherit;
}
.action form div input:focus,
.action form div select:focus{
    outline: none;
}
.action form .create-update-button button:first-child{
    display: none;
}
.action form div button{
    display: inline-block;
    text-transform: none;
    margin: 2% 2%;
    width: 28%;
}
.action .page-title {
    margin: 25px;
}
.action.sort{
    width: 40%;
    border-radius: 5px;
    height: 2%;
    padding: 0;

}
.action.sort div{
    width: 45%;
    margin: 4% 2% 1% 1%;

}
.action.sort .title{
    padding: 0;
    float: left;
    height: 100%;
    width: 35%;
    
}
.action.sort .title h6{
    margin: 0;
    text-align: left;
}

.action.sort form div{
    width: 45%;
    display: inline-block;
}
.action.sort form select{
    width: 100%;
    float: left;
    background-color: inherit;
}
.action.sort form div button{
    width: 100%;
    margin-left: 5%;
}
/* Table div (Displaying records from DB) */

.content .table-div {
    float: left;
    width: 40%;
    border: 2px solid #BFBCB3;
    margin: 1.2% 1%;
}

.table-div table {
    width: 100%;
}
.table-div table thead{
 background: #3E606F;
}
.table-div table thead th{
color: #E8E3E3;
}

.table-div table tbody td{
    color: #585353;
    border-left:1px solid #afadad;
    border-bottom   :1px solid #afadad;
    max-width: 20%;
}
.table-div table tbody .btn{
    text-align: center;
}
.table-div a.fa {
    color: #ffffff;
    padding: 3px;
}

.table-div .edit {
    background: #004220;
    border-radius: 4px;
}

.table-div .delete {
    background: #F70E1A;
    border-radius: 4px;
}
.table-div.admin{
    width: 90%;
}
.table-div.admin .total{
    text-align: center;
}
@media only screen and (max-width: 772px) {
    .content.dashboard-content{
        min-height: 200px;
    }
    .admin-header .admin-logo,
    .admin-header .user-info {
        margin-top: 5%;
        margin-top: 10%;
    }
    .dashboard h1{
        font-size: 30px
    }
    .dashboard .stats a{
        width: 22%;
        height: 30%;
    }
    .dashboard .buttons{
        width: 80%;
    }
    .action form div button{
        margin: 2% 2%;
        width: 28%;
        height: 2%
    }
    .content .menu, .content .action , .action .form div, .content .table-div, .content .create-product-div{
        width: 95%;
        margin: 1%
    }
    

}
