@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Josefin+Sans|Mali');
/* ------------------------------------------------------------------- 
 * General Styles
 * ------------------------------------------------------------------- */

html {
  font-size: 10px;
}

@media only screen and (max-width: 1024px) {
  html {
    font-size: 9.375px;
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 10px;
  }
}

@media only screen and (max-width: 400px) {
  html {
    font-size: 9.375px;
  }
}

html,
body {
  height: 100%;
}

body {
  /*background: #141515;*/
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.6rem;
  line-height: 1.875;
  color: #423e3e;
  margin: 0;
  padding: 0;
  background:url('/images/beige-paper.png');
  /* background-size: 100%; */
  background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6,{
  font-family: 'Indie Flower', cursive;
  color: #151515;
  font-style: normal;
  text-rendering: optimizeLegibility;
  margin-bottom: 2.4rem;
}

h3, h4 {
  margin-bottom: 1.5rem;
}
h5, h6,{
  margin-bottom: 1.2rem;
}
h1,{
  font-size: 3.1rem;
  line-height: 1.35;
  letter-spacing: -.1rem;
}

@media only screen and (max-width: 600px) {
  h1{
    font-size: 2.6rem;
    letter-spacing: -.07rem;
  }
}

h2{
  font-size: 2.4rem;
  line-height: 1.25;
}
h3 {
  font-size: 2rem;
  line-height: 1.5;
}
h4  {
  font-size: 1.7rem;
  line-height: 1.76;
}
h5{
  font-size: 1.4rem;
  line-height: 1.7;
  letter-spacing: .2rem;
}
h6 {
  font-size: 1.3rem;
  line-height: 1.85;
  letter-spacing: .2rem;
}


p {
  font-family: "muli-light", sans-serif;
  font-size: 2.1rem;
  line-height: 1.857;
  color: #838383;
  margin-bottom: 3.6rem;
}

@media only screen and (max-width: 768px) {
  p{
    font-size: 2rem;
  }
}

/* ------------------------------------------------------------------- 
 * Lists - (_document-setup.scss)  
 * ------------------------------------------------------------------- */

ol {
  list-style: decimal;
}

ul {
  list-style: disc;
}

li {
  display: list-item;
}

ol,
ul {
  margin-left: 1.7rem;
}

ul li {
  padding-left: .4rem;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin: .6rem 0 .6rem 1.7rem;
}



/* ------------------------------------------------------------------- 
 * links
 * ------------------------------------------------------------------- */

a,
a:visited {
  color: #585353;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a:hover,
a:focus {
  color: #3E606F;
}

/* ===================================================================
 *  Buttons 
 *
 * ------------------------------------------------------------------- */

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="file"],
input[type="button"] {
  display: inline-block;
  font-family: "montserrat-regular", sans-serif;
  font-size: 14px;
  height: 5%;
  width: 15%;
  padding: 4px;
  margin: 0px;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  border-radius: .5rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #3E606F;
  border: .1px solid #afadad;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  background-color: #ffff;
  border-color: #b8b8b8;
  color: #3E606F;
  outline: 0;
}

.button.button-primary,
.button.button-primary a,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  background-color: #3E606F;
  border-color: #706868;
  color: #FFFFFF;
}


.button.button-secondary,
button.button-secondary a,
input[type="submit"].button-secondary,
input[type="reset"].button-secondary,
input[type="button"].button-secondary {
  background-color: #ffffff;
  color: #3E606F;
  margin: 2%;
  text-decoration: none;
  padding: 10px 25px;
  border: none;
  width: 24%;
  border: 1px solid #3f3d3d;
}
.button.button-secondary:hover,
.button.button-secondary a:hover,
button.button-secondary:hover,
input[type="submit"].button-secondary:hover,
input[type="reset"].button-secondary:hover,
input[type="button"].button-secondary:hover {
  background-color: #3E606F;
  color: #ffffff;

}
.button.button-primary:hover,
.button.button-primary a,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  background: #585353;
  border-color: #585353;
}

/* ===================================================================
 *  header styles 
 *
 * ------------------------------------------------------------------- */

.header {
  width: 99%;
  height: 72px;
  background-color: #3E606F;
  transform: translateX(0%);
  z-index: 501;
  margin: 0;
  

  
}

/* ------------------------------------------------------------------- 
 * logo
 * ------------------------------------------------------------------- */

.logo {
  position: absolute;
  top: 30%;
  left: 8%;
  transform: translateX(5%);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  z-index: 501;
}

.logo a {
  color: #ffffff;
  display: block;
  margin: 0;
  padding: 0;
  outline: 0;
  border: none;
  width: 97px;
  height: 22px;
  text-shadow: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  text-decoration: none
}

/* ------------------------------------------------------------------- 
 * navigation
 * ------------------------------------------------------------------- */

.nav-wrapper {
  font-family: "montserrat-medium", sans-serif;
  font-size: 14px;
  position: absolute;
  top: 0;
  right: 0%;
  width: 80%;
}
.nav-wrapper .main-nav {
  display: inline-block;
  list-style: none;
  height: 72px;
  margin: 2px;
   margin-right: 5%;
    margin-left: 3%;
    width:80%;

}
.nav-wrapper .main-nav li {
  display: inline-block;
  padding-left: 0;
  margin-right: 10%;

}
.nav-wrapper .main-nav li a {
  display: block;
  line-height: 72px;
  text-decoration: none;
  color: #ffffff;
}
.nav-wrapper .main-nav li a:hover,
.nav-wrapper .main-nav li a:focus {
  color: #c7c1c1;
}
.nav-wrapper .main-nav li.current a {
  color: #c7c1c1;
}

@media only screen and (max-width: 900px) {
  .header{
    height: 140px;
  }
  .nav-wrapper {
    right: 1%;
    width: 80%;
  }
  .nav-wrapper .main-nav{
    margin-right: 4%;
    margin-left: 2%;
    width:80%;
  }
  .nav-wrapper .main-nav li{
    margin-right: 10%; 
  }
}

/*=========================================== 
 * Main Content Styles
 *===========================================*/
.content{
    padding: 3% 4%;
    width: 95%;
    height: 500px;
    margin: 1% 4%;
    border: 1px solid #BFBCB3;
    padding: 10px 0px 25px 25px;
    background:linear-gradient(to bottom, rgba(82, 113, 126, .3), #e5e9eb);
    
    
}
.content div{
    display:inline-block;
    overflow: hidden;
    
}
.content .main-content{
    width: 80%;
    min-height: 300px;
    margin-bottom: 20px;
    padding: 1%;
    border-right: 1px solid #afadad;
    overflow: hidden;
}
.main-content.welcome{
  width: 60%;
  margin-right: 0;
}
.main-content.products{
  width: 70%;
  padding: 0 !important; 
}

.main-content.products .single-product{
  width: 20%;
  height: 34%;
  margin: 1%;
  padding:0;
  border-radius: 2px;
  border: 1px solid #afadad;
  display: inline-block;
}
.main-content.products .single-product div{
  display: block;
  padding-bottom: 1%;
  color: #544531;
}
.main-content.products .single-product div img{
  height: 49%;
  width: 99%;
  padding-left: .5%;
}
.content .main-content .section-title {
    font-size: 24px;
    font-family: 'Mali', cursive;
    text-transform: uppercase;
    text-align: center;
    overflow: hidden;
}
.main-content.products .single-product div p{
  font-size: 14px;
  height: 30%;
  margin-top: 2%;
  margin-bottom: 0;
  text-align: center;
  color: #1a1811;
}
.main-content.products .single-product .product-footer{
  background-color: #8f877a;
  border-top: 1px solid #afadad;
  font-size: 12px;
  margin: 3% 4% 0 4px;
}
.main-content.products .single-product .product-footer span{
  color: #FFFFFF;
  margin: 2%;
  padding: 6% 6%;
  text-decoration: none;
  width: 100%;
  border: none;
  
}
.main-content.products .single-product .product-footer .first{
  border-right: 1px solid #3f3d3d;

}
.main-content.products .single-product .product-footer .last a{

 color: rgb(226, 208, 151);
}
.main-content.products .single-product .product-footer .last a:hover{
  color: rgb(125, 247, 155);
}

/*=========================================== 
 * Modal Styles
 *===========================================*/

 #product-modal{
  display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.single-product#modal-product{
  background-color: #3E606F;
    margin: 15% auto; 
    padding: 0 1% 2% 1%;
    border: 1px solid #888;
    width:20%;
    height: 45%; 
    position: fixed;
    left: 34%;
    border-radius: 5px;
  }
  .single-product#modal-product #M-top{
    height:15%;
    width: 99%;
    padding: 1%;
    margin: 0 0 2%;
  }
  .single-product#modal-product #M-top h6{
    color: white;
    padding: 0;
    margin: 0;
  }
  .single-product#modal-product img{
    width : 95%;
    margin:0;
    border-radius: 5px;
    height: 40%;
  }
  .single-product#modal-product  p{
    background-color: #5d92a8;
    border-radius: 2px;
    width: 93%;
    text-align: left;
    padding-left: 3%;

  }
  .single-product#modal-product #footer{
    width: 95%;
    margin: 0;
    
  }
/* The Close Button */
.close {
    color: red;
    font-size: 28px;
    font-weight: bold;
    width: 2%;
    padding: 0 0 0 15%;
    margin-left: 10%;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/*=========================================== 
 * Sidebar Styles
 *===========================================*/
 .sidebar{
    position: absolute;
    width: 30%;
    margin:20px 40px 20px 20px;
    text-align: center;
    overflow: hidden;
 }
.sidebar.categories{
  width: 20%;
}
 .sidebar .widget{
    width: 90%;
    margin-bottom: 10px;
    overflow: hidden;
    border: 1px solid #afadad;
}
.sidebar .widget .widget-title {
    color: #292621;
    font-size: 18px;
}
.sidebar .widget a{
    color: #585353;
}
.sidebar .widget a:hover{
    color: #AB8E40;
}
.sidebar.signup-login{
  margin: 0;
  overflow: hidden;
}

.sidebar.signup-login h3{
    color: #292621;
    font-size: 18px;
}
.sidebar.signup-login form{
  width: 70%;
  margin: 2% 15%;
}
.sidebar.signup-login form div, .create-product-div form div{
    display:block;
    margin:25% 0;
    overflow: hidden;
    
}


.sidebar.categories .search input, .sidebar.signup-login form div input{
  margin: 0;
    width:100%;
    float: left;
    border:  none;
    border-bottom:  1px solid #afadad;
    height: 1%;
    background-color: inherit;
}
.sidebar.signup-login form div input:focus{
  outline:none;
}
.sidebar.signup-login form div button{
    text-transform: none;
    width: 35%;
}
.sidebar.categories{
    float:  left;
    margin:0;
    padding:0;
    width: 20%;
}
.sidebar.categories.top{
  width: 90%;
  margin: .5% 1.5%;
  position: relative;
  display: none;
}
.sidebar.categories div{
  display:  block;
}
.sidebar.categories .search{
  border-radius: 5px; 
  border: 1px solid #afadad;
}
.sidebar.categories h3{
  border-bottom: 1px solid #afadad;
  width: 80%;
  margin: 4% 8%
}
.sidebar.categories .search form{
  width: 80%;
  margin: 4% 7%;
}
.sidebar.categories .search input{
    width: 65%;
    float: left;
    padding: 1.9% 1.6% 1.9% 1.5%;
    background-color: #f3f0f0;
    margin: 0;
    border:  1px solid #afadad;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
    
}
.sidebar.categories .search button{
  width: 35%;
  margin: 0;
  border: none;
}
.sidebar.categories .product-categories{
    border:  1px solid #afadad;
    border-radius: 5px;
    margin: 6% 0;
    padding:.5% 0;
  
}
.sidebar.categories .product-categories ul{
  margin-left: 0;
  width: 70%;
}
.sidebar.categories .product-categories ul li{
  list-style: none;
  text-align: left;
  margin: 7% 0;
  border-bottom: 1px solid #afadad;
}
.sidebar.categories .product-categories ul li:hover{
    padding-left: 7%;
    background: #F9F9F9;
    transition: 0.1s;
    color:#AB8E40;
    cursor: pointer;
}

/* Footer */
.footer{
  height: 50px;
  width: 95%;
  margin: 0% 4%;
}
.footer p{
  margin: 0 33%;
}

@media only screen and (max-width: 768px) {

  .content.max{
    height: 1325px;
  }
  .content.home{
    height: 650px;
    margin-bottom: 2%;
  }
}

@media only screen and (max-width: 931px) {
  .content.home{
    margin-bottom: 2%;
  }
}

@media only screen and (max-width: 572px) {
  .content{
    width: 100%;
    border: none;
    min-height: 600px;  
  }
  .content div{
    display:block;
  }
  .content .main-content{
    width: 85%;
    margin: 10px 10px;
    border: none;
    border-bottom: 1px solid #afadad;
  }
  .content .main-content .section-title{
    text-align: left;
  }
  .main-content.products{
    width: 95%;
  }
  .main-content.products .single-product{
    width: 30%;
    height: 20%;
  }
  .main-content.products .single-product div img{
    height:35%;
  }
  .main-content.products .single-product .product-footer span{
    margin: 3% 1% .5% 1%;
  }
  .sidebar{
    width: 95%;
  }
  .sidebar.categories{
    width: 30%;

  }
  .sidebar.categories.side{
    display: none;
  }
  .sidebar.categories.top{
    display: block;
    width: 93%;
  }
  .sidebar.categories.top div{
    margin: 0;
  }
  .sidebar.categories.top div h3{
    display: none;
  }
  .sidebar.categories.top div ul{
    padding: 0;
    width: 95%;
  }
  .sidebar.categories.top div ul li{
    display: inline-block;
    margin: 0% 3%;
    margin: 0;
    padding-right: 3px;
    border-right: 1px solid #afadad;
  }
  .sidebar.categories.top div ul li:hover{
    padding:0 1%;
    border-radius: 2px;
  }
  .sidebar.categories.top .search form  input{
    height: 5%;
  }
  .footer{
    height: 50px;
  }
  .footer p{
    font-size: 14px;
  }
}

